<!-- 試した方法1,2はaction="/memos/<%= "#{@content['id']}" %> 
     試した方法3はaction="/memos/<%= "#{@id}" %> -->

<form action="/memos/<%= "#{@content['id']}" %>" method="POST" class="edit_form">
  <textarea name="content" rows="5"><%= h(@content['content']) %></textarea><br>
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value= "更新" class="input_button">
</form>
