<p><a href="/new">メモを登録する</a></p>

<% @datas.each do |data| %>
  <%= h(data["content"]) %>
  <div><button><a href="/memos/<%= "#{data['id']}" %>/edit">編集</a></button></div>
  <form action="/memos/<%= "#{data['id']}" %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value= "削除">
  </form>
<% end %>
