<h2>メモリスト</h2>

<ul>
  <% @datas.each do |data| %>
    <li>
      <%= data["content"] %>
      <button><a href="/memos/<%= "#{data['id']}" %>/edit">編集</a></button>
    </li>
  <% end %>
</ul>

<button><a href="/new">メモを登録する</a></button>
