<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>memo_app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
    　<h1>メモアプリ</h1>
      <%= yield %>
    </div>
  </body>
</html>
